# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Synchronize Settings'
      'submenu': [
        { 'label': 'Upload', 'command': 'sync-settings:upload' }
        { 'label': 'Download', 'command': 'sync-settings:download' }
      ]
    ]
  }
]
